body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:1351px;
    height:645px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1351px;
    height:645px;
}

.u1 {
    position:absolute;
    left:2px;
    top:314px;
    width:1347px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:-10px;
    top:0px;
    width:1351px;
    height:645px
}

.u2_original {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:108px;
    top:100px;
    width:72px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:108px;
    top:100px;
    width:72px;
    height:30px
}

.u4_original {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:250px;
    top:100px;
    width:70px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:250px;
    top:100px;
    width:70px;
    height:20px
}

.u6_original {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:390px;
    top:100px;
    width:90px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:390px;
    top:100px;
    width:90px;
    height:20px
}

.u8_original {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:540px;
    top:100px;
    width:50px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:540px;
    top:100px;
    width:50px;
    height:20px
}

.u10_original {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:650px;
    top:100px;
    width:130px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:650px;
    top:100px;
    width:130px;
    height:20px
}

.u14_container {
    position:absolute;
    left:140px;
    top:0px;
    width:258px;
    height:254px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:254px;
}

.u15 {
    position:absolute;
    left:2px;
    top:119px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:140px;
    top:0px;
    width:258px;
    height:254px
}

.u16_container {
    position:absolute;
    left:142px;
    top:14px;
    width:520px;
    height:247px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:247px;
}

.u17 {
    position:absolute;
    left:2px;
    top:116px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:142px;
    top:14px;
    width:520px;
    height:247px
}

.u18_original {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:356px;
    top:214px;
    width:277px;
    height:32px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:283px;
    height:38px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:356px;
    top:214px;
    width:277px;
    height:32px
}

.u20_container {
    position:absolute;
    left:130px;
    top:29px;
    width:540px;
    height:251px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:540px;
    height:251px;
}

.u21 {
    position:absolute;
    left:2px;
    top:118px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:130px;
    top:29px;
    width:540px;
    height:251px
}

.u22_original {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:358px;
    top:237px;
    width:278px;
    height:22px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:284px;
    height:28px;
}

.u23 {
    position:absolute;
    left:2px;
    top:3px;
    width:274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:358px;
    top:237px;
    width:278px;
    height:22px
}

.u24_container {
    position:absolute;
    left:122px;
    top:10px;
    width:548px;
    height:270px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:548px;
    height:270px;
}

.u25 {
    position:absolute;
    left:2px;
    top:127px;
    width:544px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:122px;
    top:10px;
    width:548px;
    height:270px
}

.u26_original {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:147px;
    top:139px;
    width:233px;
    height:68px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:74px;
}

.u27 {
    position:absolute;
    left:2px;
    top:26px;
    width:229px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:147px;
    top:139px;
    width:233px;
    height:68px
}

.u28_original {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:390px;
    top:180px;
    width:20px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:390px;
    top:180px;
    width:20px;
    height:20px
}

.u30_original {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:386px;
    top:103px;
    width:20px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:386px;
    top:103px;
    width:20px;
    height:20px
}

.u32_original {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:641px;
    top:106px;
    width:20px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:641px;
    top:106px;
    width:20px;
    height:20px
}

.u34_original {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:643px;
    top:182px;
    width:20px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:643px;
    top:182px;
    width:20px;
    height:20px
}

.u36_original {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u37 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px
}

.u40_container {
    position:absolute;
    left:827px;
    top:407px;
    width:263px;
    height:53px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:263px;
    height:53px;
}

.u41 {
    position:absolute;
    left:2px;
    top:18px;
    width:259px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:827px;
    top:407px;
    width:263px;
    height:53px
}

.u42_container {
    position:absolute;
    left:842px;
    top:283px;
    width:248px;
    height:177px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:248px;
    height:177px;
}

.u43 {
    position:absolute;
    left:2px;
    top:80px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:842px;
    top:283px;
    width:248px;
    height:177px
}

.u44_original {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:840px;
    top:280px;
    width:250px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:56px;
}

.u45 {
    position:absolute;
    left:2px;
    top:17px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:840px;
    top:280px;
    width:250px;
    height:50px
}

.u46_original {
    background-image: url('../resources/images/transparent.gif');
}

.u46_container {
    position:absolute;
    left:850px;
    top:420px;
    width:240px;
    height:40px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:46px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:850px;
    top:420px;
    width:240px;
    height:40px
}

.u48_container {
    position:absolute;
    left:100px;
    top:20px;
    width:737px;
    height:350px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:737px;
    height:350px;
}

.u49 {
    position:absolute;
    left:2px;
    top:167px;
    width:733px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:100px;
    top:20px;
    width:737px;
    height:350px
}

.u50_original {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:120px;
    top:40px;
    width:270px;
    height:80px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:86px;
}

.u51 {
    position:absolute;
    left:2px;
    top:32px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:120px;
    top:40px;
    width:270px;
    height:80px
}

.u52_container {
    position:absolute;
    left:830px;
    top:407px;
    width:255px;
    height:49px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:255px;
    height:49px;
}

.u53 {
    position:absolute;
    left:2px;
    top:16px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:830px;
    top:407px;
    width:255px;
    height:49px
}

