body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:1074px;
    top:32px;
    width:91px;
    height:54px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:1074px;
    top:32px;
    width:91px;
    height:54px
}

.u2_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u2_container {
    position:absolute;
    left:1074px;
    top:105px;
    width:91px;
    height:54px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:1074px;
    top:105px;
    width:91px;
    height:54px
}

.u4_original {
    background-image: url('../flowchart_6-1-2014_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:469px;
    top:693px;
    width:91px;
    height:55px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:61px;
}

.u5 {
    position:absolute;
    left:2px;
    top:20px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:469px;
    top:693px;
    width:91px;
    height:55px
}

.u6_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u6_container {
    position:absolute;
    left:270px;
    top:766px;
    width:91px;
    height:54px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u7 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:270px;
    top:766px;
    width:91px;
    height:54px
}

.u8_original {
    background-image: url('../flowchart_6-1-2014_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:370px;
    top:766px;
    width:90px;
    height:54px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:60px;
}

.u9 {
    position:absolute;
    left:2px;
    top:19px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:370px;
    top:766px;
    width:90px;
    height:54px
}

.u10_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u10_container {
    position:absolute;
    left:469px;
    top:766px;
    width:91px;
    height:54px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u11 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:469px;
    top:766px;
    width:91px;
    height:54px
}

.u12_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u12_container {
    position:absolute;
    left:569px;
    top:766px;
    width:91px;
    height:54px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u13 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:569px;
    top:766px;
    width:91px;
    height:54px
}

.u14_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u14_container {
    position:absolute;
    left:669px;
    top:766px;
    width:91px;
    height:54px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u15 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:669px;
    top:766px;
    width:91px;
    height:54px
}

.u16_original {
    background-image: url('../flowchart_6-1-2014_files/u4_original.png');
}

.u16_container {
    position:absolute;
    left:806px;
    top:377px;
    width:91px;
    height:55px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:61px;
}

.u17 {
    position:absolute;
    left:2px;
    top:20px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:806px;
    top:377px;
    width:91px;
    height:55px
}

.u18_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u18_container {
    position:absolute;
    left:706px;
    top:450px;
    width:91px;
    height:54px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u19 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:706px;
    top:450px;
    width:91px;
    height:54px
}

.u20_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u20_container {
    position:absolute;
    left:606px;
    top:523px;
    width:91px;
    height:54px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u21 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:606px;
    top:523px;
    width:91px;
    height:54px
}

.u22_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u22_container {
    position:absolute;
    left:706px;
    top:523px;
    width:91px;
    height:54px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u23 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:706px;
    top:523px;
    width:91px;
    height:54px
}

.u24_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u24_container {
    position:absolute;
    left:806px;
    top:523px;
    width:91px;
    height:54px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u25 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:806px;
    top:523px;
    width:91px;
    height:54px
}

.u26_original {
    background-image: url('../flowchart_6-1-2014_files/u8_original.png');
}

.u26_container {
    position:absolute;
    left:870px;
    top:450px;
    width:90px;
    height:54px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:60px;
}

.u27 {
    position:absolute;
    left:2px;
    top:19px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:870px;
    top:450px;
    width:90px;
    height:54px
}

.u28_original {
    background-image: url('../flowchart_6-1-2014_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:925px;
    top:177px;
    width:90px;
    height:55px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:61px;
}

.u29 {
    position:absolute;
    left:2px;
    top:20px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:925px;
    top:177px;
    width:90px;
    height:55px
}

.u30_original {
    background-image: url('../flowchart_6-1-2014_files/u8_original.png');
}

.u30_container {
    position:absolute;
    left:925px;
    top:250px;
    width:90px;
    height:54px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:60px;
}

.u31 {
    position:absolute;
    left:2px;
    top:19px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:925px;
    top:250px;
    width:90px;
    height:54px
}

.u32_original {
    background-image: url('../flowchart_6-1-2014_files/u4_original.png');
}

.u32_container {
    position:absolute;
    left:1169px;
    top:380px;
    width:91px;
    height:55px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:61px;
}

.u33 {
    position:absolute;
    left:2px;
    top:20px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:1169px;
    top:380px;
    width:91px;
    height:55px
}

.u34_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u34_container {
    position:absolute;
    left:1019px;
    top:453px;
    width:91px;
    height:54px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u35 {
    position:absolute;
    left:2px;
    top:3px;
    width:87px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:1019px;
    top:453px;
    width:91px;
    height:54px
}

.u36_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u36_container {
    position:absolute;
    left:1119px;
    top:453px;
    width:91px;
    height:54px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u37 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:1119px;
    top:453px;
    width:91px;
    height:54px
}

.u38_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u38_container {
    position:absolute;
    left:1219px;
    top:453px;
    width:91px;
    height:54px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u39 {
    position:absolute;
    left:2px;
    top:11px;
    width:87px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:1219px;
    top:453px;
    width:91px;
    height:54px
}

.u40_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u40_container {
    position:absolute;
    left:1319px;
    top:453px;
    width:91px;
    height:54px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u41 {
    position:absolute;
    left:2px;
    top:11px;
    width:87px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:1319px;
    top:453px;
    width:91px;
    height:54px
}

.u42_original {
    background-image: url('../flowchart_6-1-2014_files/u4_original.png');
}

.u42_container {
    position:absolute;
    left:1595px;
    top:380px;
    width:91px;
    height:55px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:61px;
}

.u43 {
    position:absolute;
    left:2px;
    top:20px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:1595px;
    top:380px;
    width:91px;
    height:55px
}

.u44_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u44_container {
    position:absolute;
    left:1470px;
    top:453px;
    width:91px;
    height:54px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u45 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:1470px;
    top:453px;
    width:91px;
    height:54px
}

.u46_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u46_container {
    position:absolute;
    left:1420px;
    top:550px;
    width:91px;
    height:54px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u47 {
    position:absolute;
    left:2px;
    top:11px;
    width:87px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:1420px;
    top:550px;
    width:91px;
    height:54px
}

.u48_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u48_container {
    position:absolute;
    left:1520px;
    top:550px;
    width:91px;
    height:54px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u49 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:1520px;
    top:550px;
    width:91px;
    height:54px
}

.u50_original {
    background-image: url('../flowchart_6-1-2014_files/u8_original.png');
}

.u50_container {
    position:absolute;
    left:1620px;
    top:453px;
    width:90px;
    height:54px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:60px;
}

.u51 {
    position:absolute;
    left:2px;
    top:11px;
    width:86px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:1620px;
    top:453px;
    width:90px;
    height:54px
}

.u52_original {
    background-image: url('../flowchart_6-1-2014_files/u0_original.png');
}

.u52_container {
    position:absolute;
    left:1719px;
    top:453px;
    width:91px;
    height:54px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:60px;
}

.u53 {
    position:absolute;
    left:2px;
    top:19px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1719px;
    top:453px;
    width:91px;
    height:54px
}

.u54_original {
    background-image: url('../flowchart_6-1-2014_files/u4_original.png');
}

.u54_container {
    position:absolute;
    left:1829px;
    top:685px;
    width:91px;
    height:55px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:61px;
}

.u55 {
    position:absolute;
    left:2px;
    top:20px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1829px;
    top:685px;
    width:91px;
    height:55px
}

.u56_original {
    background-image: url('../flowchart_6-1-2014_files/u4_original.png');
}

.u56_container {
    position:absolute;
    left:1929px;
    top:685px;
    width:91px;
    height:55px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:61px;
}

.u57 {
    position:absolute;
    left:2px;
    top:20px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1929px;
    top:685px;
    width:91px;
    height:55px
}

.u58c0 {
    background-image: url('../flowchart_6-1-2014_files/u58c0.png');
}

.u58c0 {
    position:absolute;
    left:1109.5px;
    top:82px;
    width:20px;
    height:33px;
}

.u59 {
    position:absolute;
    left:-49.5px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60c0 {
    background-image: url('../flowchart_6-1-2014_files/u60c0.png');
}

.u60c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:15px;
}

.u60c1 {
    background-image: url('../flowchart_6-1-2014_files/u60c1.png');
}

.u60c1 {
    position:absolute;
    left:504.5px;
    top:150px;
    width:625px;
    height:20px;
}

.u60c2 {
    background-image: url('../flowchart_6-1-2014_files/u60c2.png');
}

.u60c2 {
    position:absolute;
    left:504.5px;
    top:150px;
    width:20px;
    height:547px;
}

.u61 {
    position:absolute;
    left:-13.5px;
    top:-7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62c0 {
    background-image: url('../flowchart_6-1-2014_files/u62c0.png');
}

.u62c0 {
    position:absolute;
    left:504.5px;
    top:689px;
    width:20px;
    height:81px;
}

.u62c1 {
    background-image: url('../flowchart_6-1-2014_files/u62c1.png');
}

.u62c1 {
    position:absolute;
    left:405px;
    top:750px;
    width:119.5px;
    height:20px;
}

.u62c2 {
    background-image: url('../flowchart_6-1-2014_files/u62c2.png');
}

.u62c2 {
    position:absolute;
    left:405px;
    top:750px;
    width:20px;
    height:20px;
}

.u63 {
    position:absolute;
    left:30px;
    top:59px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64c0 {
    background-image: url('../flowchart_6-1-2014_files/u64c0.png');
}

.u64c0 {
    position:absolute;
    left:504.5px;
    top:744px;
    width:20px;
    height:32px;
}

.u65 {
    position:absolute;
    left:-50.5px;
    top:1px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66c0 {
    background-image: url('../flowchart_6-1-2014_files/u66c0.png');
}

.u66c0 {
    position:absolute;
    left:504.5px;
    top:744px;
    width:20px;
    height:26px;
}

.u66c1 {
    background-image: url('../flowchart_6-1-2014_files/u66c1.png');
}

.u66c1 {
    position:absolute;
    left:504.5px;
    top:750px;
    width:120px;
    height:20px;
}

.u66c2 {
    background-image: url('../flowchart_6-1-2014_files/u66c2.png');
}

.u66c2 {
    position:absolute;
    left:604.5px;
    top:750px;
    width:20px;
    height:20px;
}

.u67 {
    position:absolute;
    left:-2.5px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68c0 {
    background-image: url('../flowchart_6-1-2014_files/u68c0.png');
}

.u68c0 {
    position:absolute;
    left:504.5px;
    top:744px;
    width:20px;
    height:26px;
}

.u68c1 {
    background-image: url('../flowchart_6-1-2014_files/u68c1.png');
}

.u68c1 {
    position:absolute;
    left:504.5px;
    top:750px;
    width:220px;
    height:20px;
}

.u68c2 {
    background-image: url('../flowchart_6-1-2014_files/u68c2.png');
}

.u68c2 {
    position:absolute;
    left:704.5px;
    top:750px;
    width:20px;
    height:20px;
}

.u69 {
    position:absolute;
    left:47.5px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70c0 {
    background-image: url('../flowchart_6-1-2014_files/u70c0.png');
}

.u70c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:15px;
}

.u70c1 {
    background-image: url('../flowchart_6-1-2014_files/u70c1.png');
}

.u70c1 {
    position:absolute;
    left:841.5px;
    top:150px;
    width:288px;
    height:20px;
}

.u70c2 {
    background-image: url('../flowchart_6-1-2014_files/u70c2.png');
}

.u70c2 {
    position:absolute;
    left:841.5px;
    top:150px;
    width:20px;
    height:231px;
}

.u71 {
    position:absolute;
    left:-23.5px;
    top:-7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72c0 {
    background-image: url('../flowchart_6-1-2014_files/u72c0.png');
}

.u72c0 {
    position:absolute;
    left:786px;
    top:423px;
    width:69px;
    height:20px;
}

.u72c1 {
    background-image: url('../flowchart_6-1-2014_files/u72c1.png');
}

.u72c1 {
    position:absolute;
    left:786px;
    top:423px;
    width:20px;
    height:38px;
}

.u72c2 {
    background-image: url('../flowchart_6-1-2014_files/u72c2.png');
}

.u72c2 {
    position:absolute;
    left:746.5px;
    top:441px;
    width:59.5px;
    height:20px;
}

.u73 {
    position:absolute;
    left:-4.5px;
    top:-4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74c0 {
    background-image: url('../flowchart_6-1-2014_files/u74c0.png');
}

.u74c0 {
    position:absolute;
    left:741.5px;
    top:500px;
    width:20px;
    height:20px;
}

.u74c1 {
    background-image: url('../flowchart_6-1-2014_files/u74c1.png');
}

.u74c1 {
    position:absolute;
    left:641.5px;
    top:500px;
    width:120px;
    height:20px;
}

.u74c2 {
    background-image: url('../flowchart_6-1-2014_files/u74c2.png');
}

.u74c2 {
    position:absolute;
    left:641.5px;
    top:500px;
    width:20px;
    height:27px;
}

.u75 {
    position:absolute;
    left:-3.5px;
    top:-2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76c0 {
    background-image: url('../flowchart_6-1-2014_files/u76c0.png');
}

.u76c0 {
    position:absolute;
    left:741.5px;
    top:500px;
    width:20px;
    height:33px;
}

.u77 {
    position:absolute;
    left:-49.5px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78c0 {
    background-image: url('../flowchart_6-1-2014_files/u78c0.png');
}

.u78c0 {
    position:absolute;
    left:741.5px;
    top:500px;
    width:20px;
    height:20px;
}

.u78c1 {
    background-image: url('../flowchart_6-1-2014_files/u78c1.png');
}

.u78c1 {
    position:absolute;
    left:741.5px;
    top:500px;
    width:120px;
    height:20px;
}

.u78c2 {
    background-image: url('../flowchart_6-1-2014_files/u78c2.png');
}

.u78c2 {
    position:absolute;
    left:841.5px;
    top:500px;
    width:20px;
    height:27px;
}

.u79 {
    position:absolute;
    left:3.5px;
    top:-2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80c0 {
    background-image: url('../flowchart_6-1-2014_files/u80c0.png');
}

.u80c0 {
    position:absolute;
    left:826px;
    top:423px;
    width:91px;
    height:20px;
}

.u80c1 {
    background-image: url('../flowchart_6-1-2014_files/u80c1.png');
}

.u80c1 {
    position:absolute;
    left:897px;
    top:423px;
    width:20px;
    height:38px;
}

.u80c2 {
    background-image: url('../flowchart_6-1-2014_files/u80c2.png');
}

.u80c2 {
    position:absolute;
    left:897px;
    top:441px;
    width:36px;
    height:20px;
}

.u81 {
    position:absolute;
    left:8px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82c0 {
    background-image: url('../flowchart_6-1-2014_files/u82c0.png');
}

.u82c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:15px;
}

.u82c1 {
    background-image: url('../flowchart_6-1-2014_files/u82c1.png');
}

.u82c1 {
    position:absolute;
    left:1015px;
    top:150px;
    width:114.5px;
    height:20px;
}

.u82c2 {
    background-image: url('../flowchart_6-1-2014_files/u82c2.png');
}

.u82c2 {
    position:absolute;
    left:1015px;
    top:150px;
    width:20px;
    height:27px;
}

.u82c3 {
    background-image: url('../flowchart_6-1-2014_files/u82c3.png');
}

.u82c3 {
    position:absolute;
    left:960px;
    top:157px;
    width:75px;
    height:20px;
}

.u82c4 {
    background-image: url('../flowchart_6-1-2014_files/u82c4.png');
}

.u82c4 {
    position:absolute;
    left:960px;
    top:157px;
    width:20px;
    height:24px;
}

.u83 {
    position:absolute;
    left:17px;
    top:-7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84c0 {
    background-image: url('../flowchart_6-1-2014_files/u84c0.png');
}

.u84c0 {
    position:absolute;
    left:960px;
    top:228px;
    width:20px;
    height:32px;
}

.u85 {
    position:absolute;
    left:-50px;
    top:1px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86c0 {
    background-image: url('../flowchart_6-1-2014_files/u86c0.png');
}

.u86c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:225px;
}

.u86c1 {
    background-image: url('../flowchart_6-1-2014_files/u86c1.png');
}

.u86c1 {
    position:absolute;
    left:1109.5px;
    top:360px;
    width:115px;
    height:20px;
}

.u86c2 {
    background-image: url('../flowchart_6-1-2014_files/u86c2.png');
}

.u86c2 {
    position:absolute;
    left:1204.5px;
    top:360px;
    width:20px;
    height:24px;
}

.u87 {
    position:absolute;
    left:-49.5px;
    top:150px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88c0 {
    background-image: url('../flowchart_6-1-2014_files/u88c0.png');
}

.u88c0 {
    position:absolute;
    left:1204.5px;
    top:431px;
    width:20px;
    height:19px;
}

.u88c1 {
    background-image: url('../flowchart_6-1-2014_files/u88c1.png');
}

.u88c1 {
    position:absolute;
    left:1060px;
    top:430px;
    width:164.5px;
    height:20px;
}

.u88c2 {
    background-image: url('../flowchart_6-1-2014_files/u88c2.png');
}

.u88c2 {
    position:absolute;
    left:1060px;
    top:430px;
    width:20px;
    height:23px;
}

.u88c3 {
    background-image: url('../flowchart_6-1-2014_files/u88c3.png');
}

.u88c3 {
    position:absolute;
    left:1054.5px;
    top:433px;
    width:25.5px;
    height:20px;
}

.u88c4 {
    background-image: url('../flowchart_6-1-2014_files/u88c4.png');
}

.u88c4 {
    position:absolute;
    left:1054.5px;
    top:433px;
    width:20px;
    height:24px;
}

.u89 {
    position:absolute;
    left:21.5px;
    top:-3px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90c0 {
    background-image: url('../flowchart_6-1-2014_files/u90c0.png');
}

.u90c0 {
    position:absolute;
    left:1204.5px;
    top:431px;
    width:20px;
    height:24px;
}

.u90c1 {
    background-image: url('../flowchart_6-1-2014_files/u90c1.png');
}

.u90c1 {
    position:absolute;
    left:1199px;
    top:435px;
    width:25.5px;
    height:20px;
}

.u90c2 {
    background-image: url('../flowchart_6-1-2014_files/u90c2.png');
}

.u90c2 {
    position:absolute;
    left:1199px;
    top:430px;
    width:20px;
    height:25px;
}

.u90c3 {
    background-image: url('../flowchart_6-1-2014_files/u90c3.png');
}

.u90c3 {
    position:absolute;
    left:1154.5px;
    top:430px;
    width:64.5px;
    height:20px;
}

.u90c4 {
    background-image: url('../flowchart_6-1-2014_files/u90c4.png');
}

.u90c4 {
    position:absolute;
    left:1154.5px;
    top:430px;
    width:20px;
    height:27px;
}

.u91 {
    position:absolute;
    left:-24.5px;
    top:-3px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92c0 {
    background-image: url('../flowchart_6-1-2014_files/u92c0.png');
}

.u92c0 {
    position:absolute;
    left:1204.5px;
    top:431px;
    width:20px;
    height:24px;
}

.u92c1 {
    background-image: url('../flowchart_6-1-2014_files/u92c1.png');
}

.u92c1 {
    position:absolute;
    left:1204.5px;
    top:435px;
    width:25.5px;
    height:20px;
}

.u92c2 {
    background-image: url('../flowchart_6-1-2014_files/u92c2.png');
}

.u92c2 {
    position:absolute;
    left:1210px;
    top:430px;
    width:20px;
    height:25px;
}

.u92c3 {
    background-image: url('../flowchart_6-1-2014_files/u92c3.png');
}

.u92c3 {
    position:absolute;
    left:1210px;
    top:430px;
    width:64.5px;
    height:20px;
}

.u92c4 {
    background-image: url('../flowchart_6-1-2014_files/u92c4.png');
}

.u92c4 {
    position:absolute;
    left:1254.5px;
    top:430px;
    width:20px;
    height:27px;
}

.u93 {
    position:absolute;
    left:-26.5px;
    top:-3px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94c0 {
    background-image: url('../flowchart_6-1-2014_files/u94c0.png');
}

.u94c0 {
    position:absolute;
    left:1204.5px;
    top:431px;
    width:20px;
    height:19px;
}

.u94c1 {
    background-image: url('../flowchart_6-1-2014_files/u94c1.png');
}

.u94c1 {
    position:absolute;
    left:1204.5px;
    top:430px;
    width:170px;
    height:20px;
}

.u94c2 {
    background-image: url('../flowchart_6-1-2014_files/u94c2.png');
}

.u94c2 {
    position:absolute;
    left:1354.5px;
    top:430px;
    width:20px;
    height:27px;
}

.u95 {
    position:absolute;
    left:29.5px;
    top:-3px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96c0 {
    background-image: url('../flowchart_6-1-2014_files/u96c0.png');
}

.u96c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:15px;
}

.u96c1 {
    background-image: url('../flowchart_6-1-2014_files/u96c1.png');
}

.u96c1 {
    position:absolute;
    left:1109.5px;
    top:150px;
    width:541px;
    height:20px;
}

.u96c2 {
    background-image: url('../flowchart_6-1-2014_files/u96c2.png');
}

.u96c2 {
    position:absolute;
    left:1630.5px;
    top:150px;
    width:20px;
    height:234px;
}

.u97 {
    position:absolute;
    left:320.5px;
    top:-7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98c0 {
    background-image: url('../flowchart_6-1-2014_files/u98c0.png');
}

.u98c0 {
    position:absolute;
    left:1630.5px;
    top:431px;
    width:20px;
    height:24px;
}

.u98c1 {
    background-image: url('../flowchart_6-1-2014_files/u98c1.png');
}

.u98c1 {
    position:absolute;
    left:1561px;
    top:435px;
    width:89.5px;
    height:20px;
}

.u98c2 {
    background-image: url('../flowchart_6-1-2014_files/u98c2.png');
}

.u98c2 {
    position:absolute;
    left:1561px;
    top:433px;
    width:20px;
    height:22px;
}

.u98c3 {
    background-image: url('../flowchart_6-1-2014_files/u98c3.png');
}

.u98c3 {
    position:absolute;
    left:1505.5px;
    top:433px;
    width:75.5px;
    height:20px;
}

.u98c4 {
    background-image: url('../flowchart_6-1-2014_files/u98c4.png');
}

.u98c4 {
    position:absolute;
    left:1505.5px;
    top:433px;
    width:20px;
    height:24px;
}

.u99 {
    position:absolute;
    left:11.5px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100c0 {
    background-image: url('../flowchart_6-1-2014_files/u100c0.png');
}

.u100c0 {
    position:absolute;
    left:1505.5px;
    top:503px;
    width:20px;
    height:47px;
}

.u100c1 {
    background-image: url('../flowchart_6-1-2014_files/u100c1.png');
}

.u100c1 {
    position:absolute;
    left:1455.5px;
    top:530px;
    width:70px;
    height:20px;
}

.u100c2 {
    background-image: url('../flowchart_6-1-2014_files/u100c2.png');
}

.u100c2 {
    position:absolute;
    left:1455.5px;
    top:530px;
    width:20px;
    height:24px;
}

.u101 {
    position:absolute;
    left:-13.5px;
    top:25px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102c0 {
    background-image: url('../flowchart_6-1-2014_files/u102c0.png');
}

.u102c0 {
    position:absolute;
    left:1505.5px;
    top:503px;
    width:20px;
    height:47px;
}

.u102c1 {
    background-image: url('../flowchart_6-1-2014_files/u102c1.png');
}

.u102c1 {
    position:absolute;
    left:1505.5px;
    top:530px;
    width:70px;
    height:20px;
}

.u102c2 {
    background-image: url('../flowchart_6-1-2014_files/u102c2.png');
}

.u102c2 {
    position:absolute;
    left:1555.5px;
    top:530px;
    width:20px;
    height:24px;
}

.u103 {
    position:absolute;
    left:-36.5px;
    top:25px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104c0 {
    background-image: url('../flowchart_6-1-2014_files/u104c0.png');
}

.u104c0 {
    position:absolute;
    left:1630.5px;
    top:431px;
    width:20px;
    height:24px;
}

.u104c1 {
    background-image: url('../flowchart_6-1-2014_files/u104c1.png');
}

.u104c1 {
    position:absolute;
    left:1600px;
    top:435px;
    width:50.5px;
    height:20px;
}

.u104c2 {
    background-image: url('../flowchart_6-1-2014_files/u104c2.png');
}

.u104c2 {
    position:absolute;
    left:1600px;
    top:433px;
    width:20px;
    height:22px;
}

.u104c3 {
    background-image: url('../flowchart_6-1-2014_files/u104c3.png');
}

.u104c3 {
    position:absolute;
    left:1600px;
    top:433px;
    width:75px;
    height:20px;
}

.u104c4 {
    background-image: url('../flowchart_6-1-2014_files/u104c4.png');
}

.u104c4 {
    position:absolute;
    left:1655px;
    top:433px;
    width:20px;
    height:24px;
}

.u105 {
    position:absolute;
    left:-69.5px;
    top:0px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106c0 {
    background-image: url('../flowchart_6-1-2014_files/u106c0.png');
}

.u106c0 {
    position:absolute;
    left:1630.5px;
    top:431px;
    width:20px;
    height:24px;
}

.u106c1 {
    background-image: url('../flowchart_6-1-2014_files/u106c1.png');
}

.u106c1 {
    position:absolute;
    left:1630.5px;
    top:435px;
    width:88.5px;
    height:20px;
}

.u106c2 {
    background-image: url('../flowchart_6-1-2014_files/u106c2.png');
}

.u106c2 {
    position:absolute;
    left:1699px;
    top:433px;
    width:20px;
    height:22px;
}

.u106c3 {
    background-image: url('../flowchart_6-1-2014_files/u106c3.png');
}

.u106c3 {
    position:absolute;
    left:1699px;
    top:433px;
    width:75.5px;
    height:20px;
}

.u106c4 {
    background-image: url('../flowchart_6-1-2014_files/u106c4.png');
}

.u106c4 {
    position:absolute;
    left:1754.5px;
    top:433px;
    width:20px;
    height:24px;
}

.u107 {
    position:absolute;
    left:13.5px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108c0 {
    background-image: url('../flowchart_6-1-2014_files/u108c0.png');
}

.u108c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:15px;
}

.u108c1 {
    background-image: url('../flowchart_6-1-2014_files/u108c1.png');
}

.u108c1 {
    position:absolute;
    left:1109.5px;
    top:150px;
    width:775px;
    height:20px;
}

.u108c2 {
    background-image: url('../flowchart_6-1-2014_files/u108c2.png');
}

.u108c2 {
    position:absolute;
    left:1864.5px;
    top:150px;
    width:20px;
    height:539px;
}

.u109 {
    position:absolute;
    left:589.5px;
    top:-7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110c0 {
    background-image: url('../flowchart_6-1-2014_files/u110c0.png');
}

.u110c0 {
    position:absolute;
    left:1109.5px;
    top:155px;
    width:20px;
    height:15px;
}

.u110c1 {
    background-image: url('../flowchart_6-1-2014_files/u110c1.png');
}

.u110c1 {
    position:absolute;
    left:1109.5px;
    top:150px;
    width:875px;
    height:20px;
}

.u110c2 {
    background-image: url('../flowchart_6-1-2014_files/u110c2.png');
}

.u110c2 {
    position:absolute;
    left:1964.5px;
    top:150px;
    width:20px;
    height:539px;
}

.u111 {
    position:absolute;
    left:639.5px;
    top:-7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112c0 {
    background-image: url('../flowchart_6-1-2014_files/u112c0.png');
}

.u112c0 {
    position:absolute;
    left:405px;
    top:746px;
    width:20px;
    height:24px;
}

.u112c1 {
    background-image: url('../flowchart_6-1-2014_files/u112c1.png');
}

.u112c1 {
    position:absolute;
    left:305.5px;
    top:746px;
    width:119.5px;
    height:20px;
}

.u112c2 {
    background-image: url('../flowchart_6-1-2014_files/u112c2.png');
}

.u112c2 {
    position:absolute;
    left:305.5px;
    top:746px;
    width:20px;
    height:24px;
}

.u113 {
    position:absolute;
    left:-0.5px;
    top:-18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

