* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u4_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u8_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u4_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u8_original.png");
}

* html .u28_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u28_original.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u8_original.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u4_original.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u4_original.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u8_original.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u0_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u4_original.png");
}

* html .u56_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u4_original.png");
}

* html .u58c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u58c0.png");
}

* html .u60c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u60c0.png");
}

* html .u60c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u60c1.png");
}

* html .u60c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u60c2.png");
}

* html .u62c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u62c0.png");
}

* html .u62c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u62c1.png");
}

* html .u62c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u62c2.png");
}

* html .u64c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u64c0.png");
}

* html .u66c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u66c0.png");
}

* html .u66c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u66c1.png");
}

* html .u66c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u66c2.png");
}

* html .u68c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u68c0.png");
}

* html .u68c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u68c1.png");
}

* html .u68c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u68c2.png");
}

* html .u70c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u70c0.png");
}

* html .u70c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u70c1.png");
}

* html .u70c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u70c2.png");
}

* html .u72c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u72c0.png");
}

* html .u72c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u72c1.png");
}

* html .u72c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u72c2.png");
}

* html .u74c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u74c0.png");
}

* html .u74c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u74c1.png");
}

* html .u74c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u74c2.png");
}

* html .u76c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u76c0.png");
}

* html .u78c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u78c0.png");
}

* html .u78c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u78c1.png");
}

* html .u78c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u78c2.png");
}

* html .u80c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u80c0.png");
}

* html .u80c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u80c1.png");
}

* html .u80c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u80c2.png");
}

* html .u82c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u82c0.png");
}

* html .u82c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u82c1.png");
}

* html .u82c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u82c2.png");
}

* html .u82c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u82c3.png");
}

* html .u82c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u82c4.png");
}

* html .u84c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u84c0.png");
}

* html .u86c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u86c0.png");
}

* html .u86c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u86c1.png");
}

* html .u86c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u86c2.png");
}

* html .u88c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u88c0.png");
}

* html .u88c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u88c1.png");
}

* html .u88c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u88c2.png");
}

* html .u88c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u88c3.png");
}

* html .u88c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u88c4.png");
}

* html .u90c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u90c0.png");
}

* html .u90c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u90c1.png");
}

* html .u90c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u90c2.png");
}

* html .u90c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u90c3.png");
}

* html .u90c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u90c4.png");
}

* html .u92c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u92c0.png");
}

* html .u92c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u92c1.png");
}

* html .u92c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u92c2.png");
}

* html .u92c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u92c3.png");
}

* html .u92c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u92c4.png");
}

* html .u94c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u94c0.png");
}

* html .u94c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u94c1.png");
}

* html .u94c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u94c2.png");
}

* html .u96c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u96c0.png");
}

* html .u96c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u96c1.png");
}

* html .u96c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u96c2.png");
}

* html .u98c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u98c0.png");
}

* html .u98c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u98c1.png");
}

* html .u98c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u98c2.png");
}

* html .u98c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u98c3.png");
}

* html .u98c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u98c4.png");
}

* html .u100c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u100c0.png");
}

* html .u100c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u100c1.png");
}

* html .u100c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u100c2.png");
}

* html .u102c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u102c0.png");
}

* html .u102c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u102c1.png");
}

* html .u102c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u102c2.png");
}

* html .u104c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u104c0.png");
}

* html .u104c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u104c1.png");
}

* html .u104c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u104c2.png");
}

* html .u104c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u104c3.png");
}

* html .u104c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u104c4.png");
}

* html .u106c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u106c0.png");
}

* html .u106c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u106c1.png");
}

* html .u106c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u106c2.png");
}

* html .u106c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u106c3.png");
}

* html .u106c4 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u106c4.png");
}

* html .u108c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u108c0.png");
}

* html .u108c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u108c1.png");
}

* html .u108c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u108c2.png");
}

* html .u110c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u110c0.png");
}

* html .u110c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u110c1.png");
}

* html .u110c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u110c2.png");
}

* html .u112c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u112c0.png");
}

* html .u112c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u112c1.png");
}

* html .u112c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="flowchart_6-1-2014_files/u112c2.png");
}

