body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../header_files/u17_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:90px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:96px;
}

.u1 {
    position:absolute;
    left:2px;
    top:37px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:90px
}

.u2_container {
    position:absolute;
    left:440px;
    top:0px;
    width:224px;
    height:77px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:30px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:440px;
    top:0px;
    width:224px;
    height:77px
}

.u4 {
    position:absolute;
    left:720px;
    top:71px;
    width:80px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:80px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:160px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:240px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:320px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:400px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:0px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_original {
    background-image: url('../bg_files/u0_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:90px;
    width:800px;
    height:550px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:556px;
}

.u14 {
    position:absolute;
    left:2px;
    top:267px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:0px;
    top:90px;
    width:800px;
    height:550px
}

.u16 {
    position:absolute;
    left:570px;
    top:100px;
    width:220px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:10px;
    top:110px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:154px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:10px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:120px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:120px;
    top:154px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:240px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:240px;
    top:154px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:10px;
    top:194px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Student_3_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:10px;
    top:134px;
    width:350px;
    height:3px;
}

.u25 {
    position:absolute;
    left:10px;
    top:134px;
    width:350px;
    height:3px
}

.u26_line {
    background-image: url('../Student_3_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:10px;
    top:174px;
    width:350px;
    height:3px;
}

.u26 {
    position:absolute;
    left:10px;
    top:174px;
    width:350px;
    height:3px
}

.u27 {
    position:absolute;
    left:120px;
    top:194px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:10px;
    top:210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:120px;
    top:210px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:10px;
    top:234px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:10px;
    top:250px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../Student_3_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:10px;
    top:274px;
    width:350px;
    height:3px;
}

.u32 {
    position:absolute;
    left:10px;
    top:274px;
    width:350px;
    height:3px
}

.u33 {
    position:absolute;
    left:10px;
    top:280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:10px;
    top:300px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:10px;
    top:317px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:10px;
    top:334px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:160px;
    top:334px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:10px;
    top:351px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:10px;
    top:368px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../Student_3_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:400px;
    top:110px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:400px;
    top:110px;
    width:20px;
    height:20px
}

.u42_container {
    position:absolute;
    left:580px;
    top:170px;
    width:210px;
    height:210px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:210px;
    height:210px;
}

.u43 {
    position:absolute;
    left:2px;
    top:97px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:580px;
    top:170px;
    width:210px;
    height:210px
}

.u44 {
    position:absolute;
    left:580px;
    top:400px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_original {
    background-image: url('../Student_3_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:730px;
    top:398px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:730px;
    top:398px;
    width:20px;
    height:20px
}

.u47 {
    position:absolute;
    left:580px;
    top:431px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_original {
    background-image: url('../Student_3_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:730px;
    top:429px;
    width:20px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:730px;
    top:429px;
    width:20px;
    height:20px
}

.u50_original {
    background-image: url('../Student_3_files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:730px;
    top:460px;
    width:20px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:730px;
    top:460px;
    width:20px;
    height:20px
}

.u52 {
    position:absolute;
    left:580px;
    top:462px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

