body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../header_files/u17_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:90px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:96px;
}

.u1 {
    position:absolute;
    left:2px;
    top:37px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:90px
}

.u2_container {
    position:absolute;
    left:440px;
    top:0px;
    width:224px;
    height:77px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:30px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:440px;
    top:0px;
    width:224px;
    height:77px
}

.u4 {
    position:absolute;
    left:720px;
    top:71px;
    width:80px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:80px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:160px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:240px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:320px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:400px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:0px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_original {
    background-image: url('../bg_files/u0_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:90px;
    width:800px;
    height:550px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:556px;
}

.u14 {
    position:absolute;
    left:2px;
    top:267px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:0px;
    top:90px;
    width:800px;
    height:550px
}

.u16 {
    position:absolute;
    left:10px;
    top:104px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:10px;
    top:150px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:169px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:10px;
    top:189px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:10px;
    top:208px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:151px;
    top:154px;
    width:343px;
    height:10px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:151px;
    top:154px;
    width:343px;
    height:10px
}

.u23_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u23_container {
    position:absolute;
    left:151px;
    top:173px;
    width:343px;
    height:10px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:151px;
    top:173px;
    width:343px;
    height:10px
}

.u25_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u25_container {
    position:absolute;
    left:151px;
    top:193px;
    width:343px;
    height:10px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:151px;
    top:193px;
    width:343px;
    height:10px
}

.u27_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u27_container {
    position:absolute;
    left:151px;
    top:212px;
    width:343px;
    height:10px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:151px;
    top:212px;
    width:343px;
    height:10px
}

.u29_original {
    background-image: url('../Student_3.4_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:150px;
    top:154px;
    width:257px;
    height:10px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:16px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-3px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:150px;
    top:154px;
    width:257px;
    height:10px
}

.u31_original {
    background-image: url('../Student_3.4_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:150px;
    top:173px;
    width:23px;
    height:10px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:16px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-3px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:150px;
    top:173px;
    width:23px;
    height:10px
}

.u33_original {
    background-image: url('../Student_3.4_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:150px;
    top:193px;
    width:90px;
    height:10px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:16px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-3px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:150px;
    top:193px;
    width:90px;
    height:10px
}

.u35_original {
    background-image: url('../Student_3.4_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:150px;
    top:212px;
    width:142px;
    height:10px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:16px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-3px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:150px;
    top:212px;
    width:142px;
    height:10px
}

.u37 {
    position:absolute;
    left:10px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:10px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:10px;
    top:249px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:10px;
    top:269px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:10px;
    top:288px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u42_container {
    position:absolute;
    left:151px;
    top:234px;
    width:343px;
    height:10px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:151px;
    top:234px;
    width:343px;
    height:10px
}

.u44_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u44_container {
    position:absolute;
    left:151px;
    top:253px;
    width:343px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:151px;
    top:253px;
    width:343px;
    height:10px
}

.u46_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u46_container {
    position:absolute;
    left:151px;
    top:273px;
    width:343px;
    height:10px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:151px;
    top:273px;
    width:343px;
    height:10px
}

.u48_original {
    background-image: url('../Student_3.4_files/u21_original.png');
}

.u48_container {
    position:absolute;
    left:151px;
    top:292px;
    width:343px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:349px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:151px;
    top:292px;
    width:343px;
    height:10px
}

.u50_original {
    background-image: url('../Student_3.4_files/u29_original.png');
}

.u50_container {
    position:absolute;
    left:150px;
    top:234px;
    width:257px;
    height:10px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-3px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:150px;
    top:234px;
    width:257px;
    height:10px
}

.u52_original {
    background-image: url('../Student_3.4_files/u31_original.png');
}

.u52_container {
    position:absolute;
    left:150px;
    top:253px;
    width:23px;
    height:10px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:16px;
}

.u53 {
    position:absolute;
    left:2px;
    top:-3px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:150px;
    top:253px;
    width:23px;
    height:10px
}

.u54_original {
    background-image: url('../Student_3.4_files/u33_original.png');
}

.u54_container {
    position:absolute;
    left:150px;
    top:273px;
    width:90px;
    height:10px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:16px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-3px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:150px;
    top:273px;
    width:90px;
    height:10px
}

.u56_original {
    background-image: url('../Student_3.4_files/u35_original.png');
}

.u56_container {
    position:absolute;
    left:150px;
    top:292px;
    width:142px;
    height:10px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:16px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-3px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:150px;
    top:292px;
    width:142px;
    height:10px
}

.u58 {
    position:absolute;
    left:10px;
    top:318px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:10px;
    top:338px;
    width:490px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:10px;
    top:424px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_original {
    background-image: url('../Student_3.4_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:10px;
    top:444px;
    width:50px;
    height:50px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u62 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:10px;
    top:444px;
    width:50px;
    height:50px
}

.u63_original {
    background-image: url('../Student_3.4_files/u61_original.png');
}

.u63_container {
    position:absolute;
    left:70px;
    top:444px;
    width:50px;
    height:50px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u64 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:70px;
    top:444px;
    width:50px;
    height:50px
}

.u65_original {
    background-image: url('../Student_3.4_files/u61_original.png');
}

.u65_container {
    position:absolute;
    left:130px;
    top:444px;
    width:50px;
    height:50px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u66 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:130px;
    top:444px;
    width:50px;
    height:50px
}

.u67 {
    position:absolute;
    left:10px;
    top:494px;
    width:50px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:70px;
    top:494px;
    width:50px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:130px;
    top:494px;
    width:50px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

