body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:488px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:488px;
}

.u1 {
    position:absolute;
    left:2px;
    top:236px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:488px
}

.u2_original {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:80px;
    top:70px;
    width:72px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:80px;
    top:70px;
    width:72px;
    height:30px
}

.u4_original {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:222px;
    top:70px;
    width:70px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:222px;
    top:70px;
    width:70px;
    height:20px
}

.u6_original {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:362px;
    top:70px;
    width:90px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:362px;
    top:70px;
    width:90px;
    height:20px
}

.u8_original {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:512px;
    top:70px;
    width:50px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:512px;
    top:70px;
    width:50px;
    height:20px
}

.u10_original {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:622px;
    top:70px;
    width:130px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:622px;
    top:70px;
    width:130px;
    height:20px
}

