body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../header_files/u17_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:90px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:96px;
}

.u1 {
    position:absolute;
    left:2px;
    top:37px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:90px
}

.u2_container {
    position:absolute;
    left:440px;
    top:0px;
    width:224px;
    height:77px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:77px;
}

.u3 {
    position:absolute;
    left:2px;
    top:30px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:440px;
    top:0px;
    width:224px;
    height:77px
}

.u4 {
    position:absolute;
    left:720px;
    top:71px;
    width:80px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:80px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:160px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:240px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:320px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:400px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:0px;
    top:65px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_original {
    background-image: url('../bg_files/u0_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:90px;
    width:800px;
    height:550px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:556px;
}

.u14 {
    position:absolute;
    left:2px;
    top:267px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:0px;
    top:90px;
    width:800px;
    height:550px
}

.u16 {
    position:absolute;
    left:10px;
    top:110px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:10px;
    top:132px;
    width:480px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:190px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:10px;
    top:212px;
    width:480px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:10px;
    top:270px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:10px;
    top:292px;
    width:480px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:570px;
    top:110px;
    width:220px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:570px;
    top:160px;
    width:220px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:580px;
    top:221px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:580px;
    top:392px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_original {
    background-image: url('../Student_3.1_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:730px;
    top:390px;
    width:20px;
    height:16px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u27 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:730px;
    top:390px;
    width:20px;
    height:16px
}

.u28 {
    position:absolute;
    left:580px;
    top:240px;
    width:190px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:580px;
    top:374px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:580px;
    top:420px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:580px;
    top:451px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_original {
    background-image: url('../Student_3.1_files/u26_original.png');
}

.u32_container {
    position:absolute;
    left:730px;
    top:420px;
    width:20px;
    height:16px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:730px;
    top:420px;
    width:20px;
    height:16px
}

.u34_original {
    background-image: url('../Student_3.1_files/u26_original.png');
}

.u34_container {
    position:absolute;
    left:730px;
    top:451px;
    width:20px;
    height:16px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u35 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:730px;
    top:451px;
    width:20px;
    height:16px
}

